@use 'components';
@use 'colors';

.socials{
    margin-top: 5rem;
    @extend %section;
    height: 10rem;
}

.socials__list{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 4rem;
}

.socials__listItem{
    font-size: 200%;
    color: colors.$font-color;
    border-radius: 5rem;
    transition: 0.2s;
}

.socials__listItem:hover{
    cursor: pointer;
    color: colors.$orange;
    padding: 2rem;
    background: colors.$font-color;
}