@use 'colors';
  
  .shield_1 {
    height: 52rem;
    width: 52rem;
    background-color: colors.$red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  
  .shield_2 {
    height: 42rem;
    width: 42rem;
    background:  colors.$white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .shield_3 {
    height: 30rem;
    width: 30rem;
    background-color:  colors.$red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .center {
    height: 20rem;
    width: 20rem;
    background-color: colors.$shield;
    border-radius: 50%;
    position: relative;
  }
  
  .ster {
    height: 0;
    width: 0;
    border-top: 7rem solid white;
    border-right: 9.6rem solid transparent;
    border-bottom: 9.6rem solid transparent;
    border-left: 9.6rem solid transparent;
  
    position: absolute;
  }
  
  .top {
    top: 7rem;
    left: .4rem;
  }
  
  .left {
    top: 3.2rem;
    left: -4.8rem;
    transform: rotate(72deg);
  }
  
  .right {
    top: 3.2rem;
    left: 5rem;
    transform: rotate(-72deg);
  }
  