@use'colors';

.stars{                         //dit is het blouwe vlak rechts boven
    position: absolute;
    top: 0;
    left: 0;
    height: 38rem;
    width: 70rem;
    background:  colors.$blue;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.star__cage{                   //dit is zodat de sterren niet in elkaar komen
    height: 5rem;
    width: 5rem;
    position: relative;
}

.star{                          //dit is de form van een pijl maken
    height: 0;
    width: 0;
    border-top: 17.5px solid white;
    border-right: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 24px solid transparent;
    position: absolute;
}

.p1{                            //deze 3 geven de locatie en rotatie van de pijlen zodat het sterren worden
    top: 17.5px;
    left: 1px;
}

.p2{
    top: 8px;
    left: -12px;
    transform: rotate(72deg);
}

.p3{
    top: 8px;
    left: 12.5px;
    transform: rotate(-72deg);
}
